body{
	margin: 0 50px;
	width: 1024px;	
}
.main_top {
	
    height:83px;
    width: 1150px;
    background-color: #335CD6;
    border-radius: 10px;
	border: 1px solid black;
    margin-left:50px;
    margin-right:50px;
}
.pic{
	float: left;
}
div div{
	display: inline-block;
	font color:#767676
}

#reg{
	float:right;
	margin-right: 30px;
    margin-top: 30px;
}
#id{
	float:right;
	margin-right: 30px;
    margin-top: 30px;
}
#register{
	width : 300px;
	height: 500px;
	background-color:#E8E8FA;
	margin-top: 50px;
	margin-left:500px;
	border-radius: 10px;
	border: 2px solid rgba(34, 29, 29, 0.08);
}
.formColumns{
	width:100%;
	margin-left:25px;
	margin-top: 20px;
	font-size: 20px;
}
.formEntries{
	width:90%;
	font-size: 15px;
	margin-left:25px;
}
.submit{
	margin-left:110px;
	margin-top: 20px;	
}
#login{
	width:400px;
	height: 300px;
	border-radius: 10px;
	background-color:#E8E8FA;
	border: 2px solid rgba(34, 29, 29, 0.08);
	margin-top: 100px;
	margin-left: 500px
}
#login form{
	padding-top: 60px;
	padding-left: 40px;
}
.msg{
	margin-top: 40px;
	margin-left: 100px;
}
.menuBar{
	border-radius: 10px;
	}
.categories{
	background-color: #C7C7D3;
    float: left;
    height: 40px;
    width: 142px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
#categories{
	background-color: #C7C7D3;
    float: left;
    height: 40px;
    width: 142px;
    margin-top: 30px;
    border: 1px solid black;
}
h4{
	padding: 11px 24px 55px 39px;
}
.contents{
	min-height: 800px;
    width: 70%;
    background-color:#E8E8FA;
    margin-top: -27px;
    padding:10px 10px 10px 10px;
    float: left;
    border-radius: 10px;
}
.recent{
	height: 250px;
    width: 100%;
    background-color:#E8E8FA;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-radius: 10px;
}
.tags{
	height: 283px;
    width: 100%;
    background-color:#E8E8FA;
    margin-right:50px;
    padding-left: 15px;
    border-radius:10px;
}
.homeTags{
	display: block;
	float: left;
}
.homeTags a{
	text-decoration: none;
}
.search-container{
	text-align: right;
	margin-left:50px;
}
.search{
	width:1150px;
	margin-right:25px;
	border-radius: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.contents h2 {
    margin-top: 4px;
    margin-bottom: 4px;
    color: #191919;
    
    }	
.contents a{
	text-decoration: none;
}
h5 {
    margin-top: 4px;
    margin-bottom: 3px;
}

html{
	background-color:#f1f1f1;
	}
.main{
	margin-left:45px;
	width:1150px;
}
.left-section{
	float:left;
	width:70%;
	height: 650px;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
 	background-color: #e8e8fa; 	
 	border-radius:10px;
}
.post-head{
	margin-left:350px;
}
.form div{
	 display:inline-block;
}
.jqte-test{
	width:800px;
	height: 300px;
}
#jqte-comment{
	margin-left: 30px;
	margin-top:20px;
	width:700px;
	height:100px;
}
.title{
	width: 40%;
}
.add-post{
	float:right;
	margin-top:15px;
	margin-right:40px;
}
.comments{
	height:20px;
	float:left;
}
.add-comment{
	float:right;
	height:30px;
	margin-top:15px;
	margin-right:40px;
}
.add-post a:hover{
	font-size:100%;
}
.addPost-tags{
	width: 40%;
}
#post-content{
	height:500%;
	width:70%;
}
.edit-post{
	float: right;
	margin-top:15px;
	margin-right:20px;
}
.edit-post a{
	text-decoration:underline;
}
.edit-post a:hover{
	font-size:100%;
}
.post-submit{
	margin-right:100px;
	margin-left:300px;
}
.right-section{
	float:right;
	width:20%;
	margin-top: 20px;
}	
.content-summary{
	width: 100%;
}

.truncate{
	max-height: 99px;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.read-more{
	text-decoration: underline;
	float:right;
	margin-right: 20px;
}
a{Home page
	width: 100px;
	color: blue;
}
a h2:hover{
	color: #121292;
	font-size: 120%;
}
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: #121292;
}
#menu div.two {
    width: 158px;
    border-radius: 5px;
}
#menu div {
	background: #848484;
	 border-radius: 10px;
}
.matter{
	margin-top:20px;
	width: 1150px;
	margin-left:50px;
}
.Change-Page{
	min-height: 800px;
    width: 70%;
    background-color:#F5BCA9;
    margin-top: -27px;
    padding:10px 10px 10px 10px;
    float: left;
}
.ui-dialog {
	border-radius: 10px;
}
.ui-dialog .ui-dialog-title{
	float: center;
	width: 150%;
}
.ui-dialog .ui-dialog-titlebar{
	width: 85%;
	margin-left: 4px;
    margin-right: 2px;
}
.ui-widget-header{
	text-align: center;
}
#menu div.two ul.one div { margin-left:0px; }

.error{
	background-color: red;
}
.myProfile{
	float:right;
	margin-right: 30px;
    margin-top: 30px;
}
.edit-account{
	margin-right: 30px;;
}
.myPosts{
	float:right;
	margin-right: 30px;
    margin-top: 30px;
}
#menu-bar{
	background-color: #978CDC;
	display:inline-block;
	margin-left:50px;
	margin-top:10px;
	border-radius:10px;
	width:1150px;
}
.menu-bar a{
	text-decoration:none;
	color:#F7F7F7;
}
.menu-bar{
	margin: 10px 0px;
}
.menu-col{
	float:left;
	margin-right: 40px;
	margin-left:40px;
}
#menu-bar ul li{
	list-style-type: none;
	float:left;
}
.menu-col ul li{
     display: none;
    }
 .menu-col ul:hover{
    display: block; /* display the dropdown */
    }
 .no-post{
 padding:152px;
 margin-top:143px
 }