body{
	margin: 0 50px;
	width: 1024px;	
}
.main_top {
	border-radius: 5px;
	border: 1px solid black;
    height:83px;
    background-color: #2EFEC8;
}
div div{
	display: inline-block;
}

#reg{
	float:right;
	color:red;
	margin-right: 30px;
    margin-top: 30px;
}
#id{
	float:right;
	color:red;
	margin-right: 30px;
    margin-top: 30px;
}
.categories{
	background-color: #a4a4a4;
    float: left;
    height: 40px;
    width: 142px;
    margin-top: 30px;
    border: 1px solid black;
}
#categories{
	background-color: #a4a4a4;
    float: left;
    height: 40px;
    width: 142px;
    margin-top: 30px;
    border: 1px solid black;
}
h4{
	padding: 11px 24px 55px 39px;
}

.contents{
	min-height: 800px;
    width: 70%;
    background-color:#F5BCA9;
    margin-top: -27px;
    padding:10px 10px 10px 10px;
    float: left;
}
.recent{
	height: 250px;
    width: 100%;
    background-color:#BCA9F5;
    margin-right:50px;
    padding: 10px 0px 0px 10px;
    
}
.tags{
	height: 183px;
    width: 100%;
    background-color:#F2F5A9;
    margin-right:50px;
    padding: 10px 0px 0px 10px;
}
.search-container{
	text-align: right;
}
.search{
	margin-right:25px;
	border-radius: 25px;
	margin-top: 5px;
}
h2 {
    margin-top: 4px;
}
html{
	background-color:#A9F5F2;
	}
.right-section{
	float:right;
	width:25%;
}	
.content-summary{
	width: 100%;
}

.truncate{
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a{Home page
	width: 100px;
}
#menu div.two {
    width: 158px;
    border-radius: 5px;
}
#menu div {
	background: #848484;
}
.matter{
	margin-top:20px;
}
.Change-Page{
	min-height: 800px;
    width: 70%;
    background-color:#F5BCA9;
    margin-top: -27px;
    padding:10px 10px 10px 10px;
    float: left;
}