<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BlogginApp</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.beehyv.blogging.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Post</servlet-name>
    <servlet-class>com.beehyv.blogging.servlets.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/recent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/tag</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Post</servlet-name>
    <url-pattern>/posts/*</url-pattern>
  </servlet-mapping>
    <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.beehyv.blogging.servlet.filters.AuthenticationFilter</filter-class>
  </filter>
   <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/Home.jsp</url-pattern>
  </filter-mapping>
</web-app>